@import "~bootstrap/scss/bootstrap";

body {
    background-color: $blue-100;
    position: relative;
}

.container-wrapper {
    background-color: #fff;
}

.chart {
    width: 100%;
    height: 450px;
    background-color: $secondary;
}

.navbar-brand {
    color: $primary;
    font-size: 32px;
}

.nav-hind {
    background-color: rgba(252, 226, 228, 0.75);
}



.loading {
    background-color: white;
    z-index: 55;
}

.text-kell {
    font-size: 52px;
    letter-spacing: 2.5px;
    font-variant: small-caps;
}

.spinner {
    scale: 3;
}