@import "~bootstrap/scss/bootstrap";

body {
    background-color: $green-100;
    position: relative;
}
body.high {
    background-color: $red-100;
}


.container-wrapper {
    background-color: #fff;
}

.chart {
    width: 100%;
    height: 450px;
    background-color: $secondary;
}

a {
    // text-decoration: none;
    // color: inherit;
    &:hover {
        color: inherit;
    }
}

.navbar-brand {
    color: $green-400;
    font-size: 32px;
}

.btn-outline-success {
    &:hover {
        color: white !important;
    }
}

.loading {
    background-color: white;
    z-index: 55;
}

.text-kell {
    font-size: 52px;
    letter-spacing: 2.5px;
    font-variant: small-caps;
    z-index: 55;
}

.spinner {
    scale: 3;
}

.logo {
    scale: 2;
    margin-right: 10px;
}

@media (max-width: 442px) {
    .about {
        margin-top: 100px !important;
    }
}

